.DS_Store
.cache
.env
.env.d
.envrc
.next
.turbo
dist
dist-ssr
dist-bundle-check
examples/*/build
node_modules
public/dist
server/dist
test-results
tsconfig.vitest-temp.json
*.log
*.local
*.tsbuildinfo

# Local development files (server standalone mode)
/package.json
/package-lock.json
/.npmrc
